@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*--- NAVBAR ---*/

nav {
    display: flex;
    height: 60px;
    width: 100%;
    background: #FFFFFF ;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

/* nav .logo {
    width: 100px;
    height: 18px;
} */

.navbar {
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    box-shadow: 0px 3px 6px #00000029;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #CBD0D3;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

nav ul li a.active,
nav ul li a:hover {
    color: #2A3037;
}

nav .menu-btn i {
    color: #2A3037;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }
}

@media (max-width: 920px) {
    nav .menu-btn i {
        display: block;
    }

    #click:checked ~ .menu-btn i::before {
        content: "\f00d";
        color: #2A3037;
    }

    nav ul {
        position: fixed;
        top: 60px;
        right: -100%;
        background: #FFFFFF;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked ~ ul {
        right: 0;
        width: 80%;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-right: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        color: #2A3037;
        text-transform: uppercase;
    }

    #click:checked ~ ul li a {
        margin-right: 0px;
    }

    /* nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: cyan;
    } */
}


/* body {
    background-color: #EBEBEB;
} */

/* --- Clase que agregaremos cuando el usuario haga scroll --- */
/* .menu-fixed {
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
} */



/*--- HEADER ---*/

.site-header {
    background-image: url(/Assets/img/Viajes_Hero.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* height: 800px; */
    height: 100vh;
    /* position: absolute; */
}

.text-header {
    padding-top: 210px;
    padding-left: 10%;
    width: 720px;
    height: 215px;
    color: #FFFFFF;
}

.text-header h1 {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: bold;
}

.after::after {
    content: "";
    display: block;
    /* margin: auto; */
    margin-top: 25px;
    width: 550px;
    height: 2px;
    background-color: #FFFFFF;
    margin-bottom: 15px;
}

.text-header h2 {
    font-size: 24px;
    font-weight: bold;
}

.text-header p {
    max-width: 550px;
    font-size: 16px;
    margin-top: 20px;
    line-height: 24px;
}


.next {
    display: inline-block;
    border: 2px dashed rgb(255, 255, 255, 0.5);
    border-radius: 6px;
    background: rgb(42, 48, 55, 0.5);
    position: absolute;
    right: 130px;
    top: 70%;
    width: 260px;
    height: 157px;
}

.next h3 {
    font-size: 16px;
    color: #fa6980;
    text-transform: uppercase;
    margin-top: 27px;
    margin-left: 30px;
    font-weight: bold;
}

.next p {
    margin-left: 30px;
}

.next .sub-title {
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 13px;
}

.next .phara {
    font-size: 14px;
    color: #FFFFFF;
    /* opacity: 0.5; */
    padding-top: 10px;
    padding-right: 30px;
}

.number {
    position: absolute;
    top: 80%;
}





/*--- SECCIONES ---*/

.tendencias {
    background-color: #EBEBEB;
    height: 700px;
}

.tendencias h2 {
    padding-top: 70px;
    padding-bottom: 30px;
    padding-left: 135px;
    text-transform: uppercase;
    color: #2A3037;
    font-size: 24px;
    font-weight: bold;
}

.card {
    width: 352px;
    height: 314px;
    /* border: 1px solid gray; */
    overflow: hidden;
    margin: 0 auto;
    border-radius: 6px;
    box-shadow: 0px 3px 6px #00000029;
}

.place {
    height: 180px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.new {
    margin-bottom: 20px;
}

.nuevo {
    width: 83px;
    height: 32px;
    border: 1px solid #fa6980;
    background-color: #fa6980;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    margin-top: -15px;
    margin-left: 36px;
    padding-top: 5px;
}

.text-card {
    padding-left: 36px;
}

.text-card h4 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    color: #2A3037;
}

.text-card p {
    font-size: 13px;
    color: #7A838D;
}

.text-card span {
    font-weight: bold;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
}





.blog h2 {
    padding-top: 70px;
    padding-bottom: 30px;
    padding-left: 135px;
    text-transform: uppercase;
    color: #2A3037;
    font-size: 24px;
    font-weight: bold;
}

.card-blog {
    width: 100%;
    height: 429px;
    border-radius: 6px;
    /* border: 1px solid gray; */
    background-image: url(/Assets/img/articulo_big_01.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 30px;
}

.blog-text {
    padding-left: 35px;
}

.blog-text h5 {
    padding-top: 35px;
    text-transform: uppercase;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
}

.blog-text h4 {
    padding-top: 235px;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
}

.blog-text p {
    margin-top: 10px;
    font-size: 16px;
    color: #FFFFFF;
    
}

.blog-text .time {
    display: flex;
    font-size: 13px;
    color: #CBD0D3;
    margin-top: 20px;
}

.blog-text img {
    padding-right: 5px;
}

.blog {
    margin-top: -225px;
}

.card-blog-2 {
    width: 100%;
    height: 429px;
    border-radius: 6px;
    /* border: 1px solid gray; */
    background-image: url(/Assets/img/articulo_big_02.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


.blog-container {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: stretch;
}

.card-2 {
    width: 352px;
    height: 272px;
    /* border: 1px solid gray; */
    /* overflow: hidden;
    margin: 0 auto; */
    border-radius: 6px;
    /* box-shadow: 0px 3px 6px #00000029; */
}

.place-2 {
    height: 210px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-card-2 h5{
    font-size: 16px;
    margin-top: 15px;
}

.text-card-2 .time-2 {
    display: flex;
    font-size: 13px;
    color: #CBD0D3;
    margin-top: 10px;
}

.text-card-2 img {
    padding-right: 5px;
}

.blog-container-2 {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: space-between;
    height: 890px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
}






/*--- FOOTER ---*/

.footer-content {
    width: 100%;
    background: #2A3037;
    overflow: hidden;
    margin-top: 60px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    /* max-width: 1100px; */
    width: 83%;
    margin: auto;
}

.footer-img img {
    height: 16px;
}

.footer-social {
    list-style: none;
    width: 52px;
    display: flex;
    justify-content: space-between;
}






/*--- MEDIA QUERIES ---*/

@media screen and (max-width: 1070px) {
    .card3 {
        display: none;
    }

    .blog-container-2 {
        margin-top: 30px;
    }

    .text-header {
        text-align: center;
        width: 100%;
        margin: auto;
    }
    
    .text-header h1 {
        text-transform: uppercase;
        font-size: 48px;
        font-weight: bold;
    }
    
    .after::after {
        content: "";
        display: block;
        margin: auto;
        margin-top: 25px;
        width: 500px;
        height: 2px;
        background-color: #FFFFFF;
        margin-bottom: 15px;
    }
    
    .text-header h2 {
        font-size: 24px;
        font-weight: bold;
    }
    
    .text-header p {
        display: none;
    }
}

@media screen and (max-width: 710px) {
    .card2 {
        display: none;
    }
}

@media screen and (max-width: 730px) {
    .blog-container-2 {
        display: none;
    }

    .blog-container {
        width: 100%;
        /* display: flex; */
    }
}

@media screen and (max-width: 660px) {
    .text-header {
        text-align: center;
        width: 100%;
        margin: ;
    }
    
    .text-header h1 {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: bold;
        margin-left: -30px;
    }
    
    .after::after {
        content: "";
        display: block;
        margin: auto;
        margin-top: 25px;
        width: 300px;
        height: 2px;
        background-color: #FFFFFF;
        margin-bottom: 15px;
    }
    
    .text-header h2 {
        font-size: 16px;
        font-weight: bold;
        margin-right: 50px;
        text-align: left;
    }
    
    .text-header p {
        display: none;
    }

    .text-header img {
        /* width: 2.5%; */
        height: 20px;
    }
}

@media screen and (max-width: 360px) {
    .blog-text p {
        display: none;
    }

    .blog-text {
        margin-top: 50px;
    }

    
}
